.video-player{
  width: 800px;
  height: 600px;
  box-shadow: 0 0 30px black;
  display: flex;
  flex-direction: column;
}

.js-video-container{
  flex-grow: 1;
}

.video-player-panel{
  background-color: black;
}

.video-player-panel .panel-buttons {
  border-style: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
}
