.video-player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 30px black;
  display: flex;
  flex-direction: column;
}

.video-player-frame {
  flex-grow: 1;
}

.video-player-panel {
  background-color: black;
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
}

.video-player-panel .panel-buttons {
  height: 42px;
  width: 33px;
  font-size: 20px;
  border-style: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
}

.video-player-panel .panel-play-time {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 0 4px 0 4px;
}

.video-player-panel .panel-play-time .viewing-progressbar {
  display: flex;
  flex-grow: 1;
  background-color: gray;
  border-radius: 20px;
  height: 4px;
  margin: 0 9px 0 9px;
}

.video-player-panel .panel-play-time .viewing-progressbar .viewing-progress-slider {
  background-color: #f8104d;
}

.video-player-panel .panel-play-time .viewing-progressbar .dot {
  height: 8px;
  width: 8px;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  background-color: #f8104d;
  margin-left: -5px;
  margin-top: -5px;
}
