.video-player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 30px black;
  display: flex;
  flex-direction: column;
}

.js-video-container {
  flex-grow: 1;
}

.video-player-panel {
  background-color: black;
  justify-content: space-between;
  display: inline-flex;
}

.video-player-panel .panel-buttons {
  height: 20px;
  width: 20px;
  margin: 0 10px 10px 10px;
  border-style: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
}
